# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend-express/node_modules
/frontend-react/node_modules
/backend-express/.pnp
/frontend-react/.pnp.js

# testing
/backend-express/coverage
/frontend-react/coverage

# production
/backend-express/build
/frontend-react/build

# database config
mysqlConfig.json

# misc
/backend-express/build
/frontend-react/build
#/frontend-react/.eslintcache

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*