body {
    background: black;
    padding: 5px;
    margin: 0;
    width: 99%;
    height: 99%;

    box-shadow:
       inset 0 -3em 3em rgba(163, 162, 162, 0.1),
             0 0  0 2px rgb(69, 70, 69),
             0.3em 0.3em 1em rgba(230, 230, 231, 0.3);
}

@media (min-width: 280px) {
.modal-dialog {
    max-width: 1200px;
    margin-left: 0%;
}

.modal-content {
    max-width: 80%;
    background-color: #080808;
    color: #c5c4c4;
}

.btn-outline-dark, .card-footer, .card-body, form, input, button, .vendorBar {
    background-color: #080808;
    color: #c5c4c4;
}



.card-img-top {
    margin-left: auto;
    margin-right: auto;
    height: 260px;
}

.card {
    width: 94%;
    padding: 5px;

}

#carddecdiv {
    width: 98%;
    display:contents;
}

}
 
.userInput, .nav-link {
    background-color: #080808;
    color: #c5c4c4; 
    max-width: 300px;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}
h1 {
font-size: 100%;
}

.headerMenu {
    width: 100%;
    text-align: center;
}
ul.headerMenu li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.headerMenu {
    background: black;
    padding: 0;
    font-size: 90%;
    width: 100%;
}

ul.headerMenu li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

.contents {
    font-size: 100%;
    background-color: rgb(26, 25, 25);
    color: #d0d0d0;
    padding: 5px;
    width: 100%;

    box-shadow:
       inset 0 -3em 3em rgba(163, 162, 162, 0.1),
             0 0  0 2px rgb(69, 70, 69),
             0.3em 0.3em 1em rgba(230, 230, 231, 0.3);
}

.contents h2 {
    padding: 0px;
    margin: 0;
}

.contents li {
    margin-bottom: 10px;
}

.container {
    width: 100%;
    padding: 5px;
}

.vendorBar {
    font-size: 90%;
    width: 100%;
    padding: 0px;
    margin: 0;
}

.buttonGroup {
    float: right;
    width: 100%;
    height: 100%;
}

.adminBar {
    font-size: 80%;
    width: 100%;
    padding: 0px;
    margin: 0; 
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 5px;
}

.active {
    background-color: cornflowerblue;
}

.consoleLog {
    width: 850px;
    height: 450px;
    overflow-y: scroll;
    background-color: #080808;
    color: peachpuff;
}

/**************   Login Styling  **********/
.login_form {
    width: 85%;
    display: table;
    margin-top: 10%;
    margin-left: auto;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 1);
    padding: 2px;
    border-radius: 5px;
}

.login {
    font-size: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    position: relative;
    flex: 1 1 auto;
    color: #fff;
    background-color: #30373f;
    height: 47px;
    min-width: 75px;
    width: 5%;
    float: right;
    margin-right: 5px;

}

.login_form > #title {
    background: rgba(0, 0, 0, 1);;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 1);
}

.login_form > .body {
    background: rgb(247, 247, 247);;
    padding: 10px;
    display: table;
}

input[type='text'], input[type='password'] {
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 4px 5px;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.loginBtn {
    height: 35px;
    box-sizing: border-box;
    padding: 5px 5px;
    background: #080808;
    color: #fff;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.loginBtn:hover {
    background: #c3c3ba;
}

.registerBtn {
    float: right;
    background: #c5c4c4;
    color: #fff;
    height: 35px;
    box-sizing: border-box;
    padding: 4px 4px;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -50px;
}

.registerBtn:hover {
    background: #5f5f5f;
}

.Error {
    padding: 10px;
    background-color: #feeaea;
    border: 1px solid #fadadb;
    margin-bottom: 10px;
    border-radius: 3px;
}

table, th, td {
    border: 1px solid white;
  }
/********   Login Stying ends     ***/
